.toast-container {
    position: absolute;

    .alert {
        min-width: 30rem;
        top: 1.4rem;
        right: 1.4rem;
        position: fixed;
        z-index: 9999;
        opacity: 0;

        &.visible {
            opacity: .95;
        }
    }
}